<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к БД -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/spitter?serverTimezone=UTC and useLegacyDatetimeCode=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mysql</property>
        <property name="connection.pool_size">1</property>
        <!-- SQL диалект -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Включить автоматическое управление контекстом сессии -->
        <property name="current_session_context_class">thread</property>
        <!-- Вывод в консоль SQL-запросов -->
        <property name="show_sql">true</property>
        <!-- Подключение объектов сущностей -->
        <mapping resource="jdbc/Spitter.hbm.xml"/>
    </session-factory>
</hibernate-configuration>